<h1>10 Card Game</h1>

<h3>Instructions</h3>
<p>This is a traditional game of memory.  Click on the pictures to display what
  they are, and try to find the matching picture.  Get them all and you win!</p>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <img onclick="toggling()" class='one_one' src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2904/s300/wyncode-icon.jpg" alt="">
      <img class='one_one' src="http://lorempixel.com/output/animals-q-c-400-400-9.jpg" alt="" hidden>
    </div>
    <div class="col-xs-4">
      <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2904/s300/wyncode-icon.jpg" alt="">
      <img src="http://lorempixel.com/output/animals-q-c-400-400-9.jpg" alt="">
    </div>
    <div class="col-xs-4">
      <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2904/s300/wyncode-icon.jpg" alt="">
      <img src="http://lorempixel.com/output/animals-q-c-400-400-9.jpg" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2904/s300/wyncode-icon.jpg" alt="">
      <img src="http://lorempixel.com/output/animals-q-c-400-400-9.jpg" alt="">
    </div>
    <div class="col-xs-4">
      <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2904/s300/wyncode-icon.jpg" alt="">
      <img src="http://lorempixel.com/output/animals-q-c-400-400-9.jpg" alt="">
    </div>
    <div class="col-xs-4">
      <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2904/s300/wyncode-icon.jpg" alt="">
      <img src="http://lorempixel.com/output/animals-q-c-400-400-9.jpg" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2904/s300/wyncode-icon.jpg" alt="">
      <img src="http://lorempixel.com/output/animals-q-c-400-400-9.jpg" alt="">
    </div>
    <div class="col-xs-4">
      <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2904/s300/wyncode-icon.jpg" alt="">
      <img src="http://lorempixel.com/output/animals-q-c-400-400-9.jpg" alt="">
    </div>
    <div class="col-xs-4">
      <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2904/s300/wyncode-icon.jpg" alt=""
      <img src="http://lorempixel.com/output/animals-q-c-400-400-9.jpg" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2904/s300/wyncode-icon.jpg" alt="">
      <img src="http://lorempixel.com/output/animals-q-c-400-400-9.jpg" alt="">
    </div>
  </div>
</div>
