<h1>10 Card Game</h1>

<h3>Instructions</h3>
<p>This is a traditional game of memory.  Click on the pictures to display what
  they are, and try to find the matching picture.  Get them all and you win!</p>

<div class="container">

  <div class='row'>
    <div class='col-md-12'>
    <% @duplicated_array.each do |image| %>
      <div class="col-xs-4 card">
        <img class="front" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2904/s300/wyncode-icon.jpg" alt="pic-1">
        <%= image_tag image.url, class: 'back' %>
      </div>
    <% end %>
    </div>
  </div>
</div>
