<h1 id="about-header">The Developers</h1>

<div class="container" id="about-container">
  <div class="row">
    <div class="col-md-offset-2 col-md-4">
      <img src="" alt="Daniel Villegas picture"/>
      <h2>Daniel Villegas</h2>
      <p>about</p>
      <a href="https://github.com/DaniVSainz">Github</a>
    </div>
    <div class="col-md-4">
      <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAlaAAAAJGQ0NDBhZTI4LTVlNjUtNGUwMC1iMjMyLTJmYmVlMmU3ZTJhOQ.jpg" alt="Bethany Farrey picture"/>
      <h2>Bethany Farrey</h2>
      <p>Bethany is a web developer and former zookeeper living in South Florida.
         As a graduate of Emory University, she worked at zoos and museums in
         Atlanta, GA, Orlando, FL, and Chicago, IL. After returning to South
         Florida in 2015, she decided to become a full-stack web developer and
         attended Wyncode Academy in January 2017.</p>
      <a href="https://github.com/BDFarrey">Github Account</a>
    </div>
  </div>
  <a id="wyncode" href="https://wyncode.co/"><img src="https://wyncode.co/wp-content/themes/wyncode/assets/img/logo-blue.png" alt="Wyncode Logo"></a>
</div>
