<h1 id="about-header">The Developers</h1>

<div class="container" id="about-container">
  <div class="row">
    <div class="col-md-offset-2 col-md-4">
      <img src="http://i.imgur.com/noPik84.jpg" alt="Daniel Villegas picture" id="about-picture" class="img-circle" />
      <h2>Daniel Villegas</h2>
      <p>Most people call me Dani, and i've had a passion for Technology related areas since i was young.
        I'm currently attending Wyncode ,and pursuing my dream carreer of Programming.I've always had a artistic and deisign oriented side and Web dev will be my outlet.
        I plan on learning as much as possible within the next year and then see if I want to stay in Web Dev or pursue Software Dev</p>
      <a href="https://github.com/DaniVSainz" class="btn-lg" id="ghost-button"><i class="fa fa-github fa-fw"></i><span>Github</span></a>
    </div>
    <div class="col-md-4">
      <%# https://media.licdn.com/media/AAEAAQAAAAAAAAlaAAAAJGQ0NDBhZTI4LTVlNjUtNGUwMC1iMjMyLTJmYmVlMmU3ZTJhOQ.jpg %>
      <img src="http://i.imgur.com/yKc9GuS.jpg" alt="Bethany Farrey picture" id="about-picture" class="img-circle" />
      <h2>Bethany Farrey</h2>
      <p>Bethany is a web developer and former zookeeper living in South Florida.
         As a graduate of Emory University, she worked at zoos and museums in
         Atlanta, GA, Orlando, FL, and Chicago, IL. After returning to South
         Florida in 2015, she decided to become a full-stack web developer and
         attended Wyncode Academy in January 2017.</p>
         <br>
      <a href="https://github.com/BDFarrey" class="btn-lg" id="ghost-button"><i class="fa fa-github fa-fw"></i><span>Github</span></a>
    </div>
  </div>
  <a id="wyncode" href="https://wyncode.co/"><img src="https://wyncode.co/wp-content/themes/wyncode/assets/img/logo-blue.png" alt="Wyncode Logo"></a>
</div>
