<h1>Welcome to WynMemory</h1>

<h3>Instructions</h3>
<p>Instructions go here</p>


<%= link_to "10 Card Game", tencards_path%>
<button type="button" class="btn btn-primary btn-lg btn-block">10 Card Game</button>


<button type="button" class="btn btn-primary btn-lg btn-block">20 Card Game</button>
