<div class="container-fluid" id="welcome-index">
  <h1 id="welcome-h1" class="text-center">WynMemory</h1>
  <h2 class="text-center">The Game</h2>
  <div  id="welcome-button">
    <div id="three-buttons">
      <%= link_to tencards_path, class: "btn-lg" , id:'ghost-button-rounded-corners' do %>
        <i class="fa fa-gamepad" aria-hidden="true"> 10 Card Game</i>
      <% end %>
      <%= link_to pictures_path, class: "btn-lg" , id:'ghost-button-rounded-corners' do %>
        <i class="fa fa-camera-retro" aria-hidden="true"> Image Gallery</i>
      <% end %>
      <%= link_to twentycards_path, class: "btn-lg" , id:'ghost-button-rounded-corners' do %>
        <i class="fa fa-gamepad" aria-hidden="true"> 10 Card Game</i>
      <% end %>
    </div>
  </div>
</div>
