<h1>Welcome to WynMemory</h1>




<%= link_to "10 Card Game", tencards_path, class: "btn btn-primary btn-lg btn-block"%>

<%= link_to "20 Card Game", twentycards_path, class: "btn btn-primary btn-lg btn-block"%>
