<div class="container-fluid" id="welcome-index">
  <h1 id="welcome-h1" class="text-center">Welcome to WynMemory</h1>
  <div class="text-center" id="welcome-button">
      <%= link_to "10 Card Game", tencards_path, class:'btn-lg', id: 'ghost-button-rounded-corners'%>
      <%= link_to "20 Card Game", twentycards_path, class:'btn-lg', id: 'ghost-button-rounded-corners'%>
  </div>
</div>
