<h1 id="picture-header">Click a Picture to Update</h1>

<div class="update-container">
  <div id="container" >
    <!-- <div class="header container"> -->


          <!-- <%= link_to "Update", updatepictures_path, class:'btn-lg', id: 'ghost-button-rounded-corners'%> -->
          <!-- <%= link_to 'New Picture', new_picture_path, class:'btn-lg', id: 'ghost-button-rounded-corners' %> -->

    <!-- </div> -->
    <div id="links">
      <% @pictures.each_with_index do |picture,index| %>
        <div class="item">
          <%= link_to  image_tag( picture.url ,id: 'item'), picture %>
        </div>
      <% end %>
    </div>
  </div>
  <br>


</div>
