<div id="container">
  <div class="header container-fluid">
    <h1 class="text-center">Gallery</h1>
      <%= link_to "Update", updatepictures_path, class:'btn-lg', id: 'ghost-button-rounded-corners'%>
  </div>
  <div id="links">
    <% @pictures.each_with_index do |picture,index| %>
      <div class="item">
        <%= link_to  image_tag( picture.url ,id: 'item'), picture %>
      </div>
    <% end %>
  </div>
</div>
<br>

<%= link_to 'New Picture', new_picture_path %>
