/*// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


/*Top*/

div.game-header {
  text-align: center;
  background-color: #39C8FC;
  padding-bottom: 15px;
}

.game-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 35px;
  font-size: 50px;
}

.game-header h3 {
  padding-top: 20px;
  margin-bottom: 0;
  margin-top: 20px;
}

.instructions-header {
  width: 50%;
  text-align: center;
  margin: auto;
}

.game-header p {
  font-size: 18px;
}


/*game*/


.container {
  margin-bottom: 50px;
  margin-top: 20px;
}

img.back, img.front {
  height: 200px;
  width: 200px;
  display: inline-flex;
}

.card {
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

#last_row {
  display: flex;
  justify-content: center;
  
}
