// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin: 0;
}
//welcome-index h1 WynGallery
#welcome-h1 {
  margin-top: 50px;
  color: white;
  font-size: 100px;
}

h2.text-center {
  color: white;
  font-size: 40px;
}

#welcome-button{
  display:flex;
  align-items: center !important;
  margin: auto;
  padding-top: 200px;
}

#three-buttons {
  margin: auto;
}
#welcome-index {
  //https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb
  background-image: url('6.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}



// Welcome index ghost buttons //

#ghost-button-rounded-corners{
  margin-right: 10px;
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
#ghost-button-rounded-corners:hover,
#ghost-button-rounded-corners:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}


//

// About Page
#about-container {
  text-align: center;
}

h1#about-header {
  background-color: #39C8FC;
  color: black;
  font-family: Lora;
  margin: 0;
  text-align: center;
  padding: 50px 0;
}

a#wyncode img {
  padding: 100px 0;
  text-align: center;
  justify-content: center;
}

//About Ghost Buttons!!
#ghost-button{
  margin-right: 10px;
  display: inline-block;
  width: 125px;
  padding: 8px;
  color: #39C8FC;
  border: 1px solid #39C8FC;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
#ghost-button:hover,
#ghost-button:active {
  background-color: #39C8FC;
  color: white;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

//About pictures
#about-picture {
  width: 200px;
  height: 300px;
}
